h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#projects * {
  padding-left: 1rem;
  padding-top: 0.5rem;
}


.project-description {
  width: 80%;
}