.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    height: 3.5rem;
    width: 100%;
    background-color: #69c6ea;
}

.navbar * {
    display: inline;
    margin-left: auto;
}

li a {
    display: block;
    padding: 1rem;
    color: #344A53;
    font-size: 1.1rem;
    text-decoration: none;
}

li a:hover {
    background-color: #2490B2;
}