/* App */

body {
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 20px;
}

section {
  padding: 100px;
}

#logo {
  font-size: 16px;
  margin-left: 16px;
}

.section-header-container {
  width: 100vw;
  height: 100vh;

  background-image: url("./images/starry-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text {
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text-main {
  margin-bottom: 0px;
  font-size: 50px;
}

.header-text-sub {
  font-size: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me-section {
  padding: 50px;
  width: 80%;
  display: flex;
}

.about-me-experience * {
  margin-left: 50px;
  list-style-type: circle !important;
}

.pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#projects {
  background-color: #212121;
}

.projects {
  display: grid;
  width: 100%;

  gap: 50px;
}

@media (min-width: 600px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  box-shadow: rgb(147, 145, 145) 0px 5px 15px;
}

.icon {
  color: black;
  margin-right: 20px;
}

.icon-container {
  font-size: 40px;
}

.contact-icons {
  font-size: 40px;
  padding-left: 20px;

  margin-top: 20px;
  margin-bottom: 20px;
}
